apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health {
           lameduck 5s
        }
        ready
        kubernetes cluster.local in-addr.arpa ip6.arpa {
           pods insecure
           fallthrough in-addr.arpa ip6.arpa
           ttl 30
        }
        prometheus :9153
        forward . /etc/resolv.conf {
           max_concurrent 1000
        }
        cache 30
        loop
        reload
        loadbalance
    }
    
    mycompany.local:53 {
        errors
        cache 30
        forward . 8.8.8.8 8.8.4.4
        hosts {
            10.96.0.1 api.mycompany.local
            192.168.1.100 database.mycompany.local
            192.168.1.101 cache.mycompany.local
            fallthrough
        }
    }
