apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: development

resources:
- ../../base

commonLabels:
  environment: development

patchesStrategicMerge:
- deployment-patch.yaml

replicas:
- name: webapp
  count: 1
