apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
- ../../base

commonLabels:
  environment: production

patchesStrategicMerge:
- deployment-patch.yaml

replicas:
- name: webapp
  count: 5

images:
- name: nginx
  newTag: "1.21"
